body{
	background : url(../img/fondo.png)fixed;
	font-family: 'Germania One', cursive;
	min-height: 800px;
	left       : 0;
	margin     : 0;
	padding    : 0;
	position   : absolute;
	top        :0;
	width      : 100%;  
}
a{
	text-decoration: none;
}
#BtnRegis{
	background: 
	-moz-linear-gradient(
		top,
		#ff8636 0%,
		#ff8636 50%,
		#ff6600 50%,
		#ff6600);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff8636),
		color-stop(0.50, #ff8636),
		color-stop(0.50, #ff6600),
		to(#ff6600));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d95802;
	-moz-box-shadow:
		1px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 10px rgba(087,087,087,0);
	-webkit-box-shadow:
		1px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 10px rgba(087,087,087,0);
	box-shadow:
		1px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 10px rgba(087,087,087,0);
	color      : #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size  : 19px;
	padding    : 15px 25px;	
	position: absolute;
	top:10px;
	right: 300px;
	text-shadow:
		0px 0px 4px rgba(000,000,000,0.2),
		0px 0px 0px rgba(255,255,255,0.2);
}
#BtnIngres{
	background: -moz-linear-gradient(
		top,
		#de8383 0%,
		#db2e2e 50%,
		#cc0000 50%,
		#cc0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#de8383),
		color-stop(0.50, #db2e2e),
		color-stop(0.50, #cc0000),
		to(#cc0000));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #AF0606;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	color      : #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size  : 19px;
	padding    : 15px 25px;	
	position: absolute;
	top:10px;
	right: 120px;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
}
#Btnsub{
	background: -moz-linear-gradient(
		top,
		#ff0f1f 0%,
		#c10000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff0f1f),
		to(#c10000));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #c10000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	color      : #ffffff;
	cursor        : pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size  : 16px;
	padding    : 10px 20px;
	margin-top: 10px;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
#pregunta{
	background   : #fff;
	border-radius: 5px;
	margin       : 10px auto;
	padding      : 5px;
	position     : relative;
	text-align   : center;
	width        : 95%;
	z-index      : 99999;
}
#precues{
	padding-bottom: 10%;
	padding-top   : 10%;
	width         : 49%;
}
#precuesimg{
	height        : 50%;
	padding-bottom: 10%;
	padding-top   : 10%;
	position      : absolute;
	right         : 5px;
	text-align    : left;
	top           : 5px;
	width         : 49%;
}
#logeo{
	background    : #fff;
	border        : solid;
	border-radius : 20px;
	display       : none;
	padding-bottom: 10px;
	padding-left  : 20px;
	padding-right : 20px;
	padding-top   : 20px;
	position      : absolute;
	right         : 100px;
	text-align    : center;
	top           : 70px;
	z-index       : 999999;
}
.logeoCerar{
	background   : rgba(0,0,0,0.7);
	border       : solid;
	border-radius: 50px;
	color        : #fff;
	cursor       : pointer;
	height       : 25px;
	margin-right : -10px;
	margin-top   : -10px;
	position     : absolute;
	right        : 0;
	top          : 0;
	width        : 25px;
    z-index       : 99999;
}
#tabs{
	margin  : 0 auto;
	position: relative;
	top     : 100px;
	width   : 95%;
}
#iFrame_SQL{
	background: #fff;
	border    : solid 1px #fff;
	display   : none;
	height    : 80%;
	left      : 2.5%;
	position  : absolute;
	right     : 2.5%;
	top       : 100px;
	width     : 95%;
	z-index   : 99999;
}
#iFrameoCerar{
	display   : none;
	right     : 33px;
	text-align: center;
	top       :105px;
}